<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-feature
        android:name="android.hardware.vulkan.version"
        android:required="true"
        android:version="0x400000" />
    <uses-feature
        android:glEsVersion="0x00030002"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.gamepad"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.type.pc"
        android:required="false" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:name=".EmuCoreVApp"
        android:allowBackup="true"
        android:appCategory="game"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hasFragileUserData="true"
        android:icon="@mipmap/ic_launcher"
        android:isGame="true"
        android:label="@string/app_name_emucorev"
        android:localeConfig="@xml/locales_config"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EmuCoreV"
        tools:targetApi="q">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name_emucorev"
            android:theme="@style/Theme.EmuCoreV.Splash"
            tools:ignore="RedundantLabel" />

        <activity-alias
            android:name=".MainActivityDefault"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityPro"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_pro"
            android:roundIcon="@mipmap/ic_launcher_pro_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity
            android:name="com.sbro.emucorev.core.vita.Emulator"
            android:alwaysRetainTaskState="true"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:enableOnBackInvokedCallback="false"
            android:exported="true"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.EmuCoreV.Emulator"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden"
            tools:targetApi="33">
            <intent-filter>
                <action android:name="com.sbro.emucorev.action.LAUNCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.jakewharton.processphoenix.PhoenixActivity"
            android:theme="@style/Theme.EmuCoreV.Phoenix"
            tools:replace="android:theme"
            tools:node="merge" />

        <provider
            android:name="com.sbro.emucorev.core.vita.provider.VitaDocumentsProvider"
            android:authorities="${applicationId}.provider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

    </application>

</manifest>
